<li class="rrssb-viadeo">
    <!-- Replace href with your meta and URL information -->
    <a href="http://www.viadeo.com/shareit/share/?url={{ page_url }}" class="popup">
            <span class="rrssb-icon">

              <img src="https://widgets-partners.viadeo.com/s/share/images/logo-btn-partners.png" alt="Viadeo" width="15" />
            </span>
        <span class="rrssb-text">{{ label }}</span>
    </a>
</li>
